body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: $gray-maintext;
  box-sizing: border-box;
}



li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $black;
  &:hover {
    text-decoration: none;
  }
}

hr {
  border: 1px solid #E6E1E5;
  margin: 0;
}


.button {
  font-family: 'Golos Text', sans-serif;
  padding: 13px 38px;
  background: $orange;
  box-shadow: 0px 2px 4px rgba(64, 61, 57, 0.15);
  border-radius: 12px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
  line-height: 155%;
  cursor: pointer;
}

h1 {
  padding-top: 200px;
  font-family: 'Golos Text', sans-serif;
  font-size: 82px;
  line-height: 110%;
  font-weight: 600;
  margin: 0;
}

h3 {
  font-family: 'Golos Text', sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  color: $black;
}

h4 {
  color: $black;
  line-height: 120%;
  font-size: 36px;

}

h5 {
  color: $black;
  line-height: 120%;
  font-size: 26px;
  font-weight: 600;
}
h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1390px;
  margin: 0 auto;
}

.whatsapp {
  position: relative;
  border: 1px solid #0DC143;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 12px 41px 12px 13px;
  margin-left: 24px;
  &:before {
    position: absolute;
    content: '';
    width: 21px;
    height: 21px;
    top: 10px;
    right: 10px;
    background-image: url('../img/wa.svg');

  }

  &:hover {
    opacity: .8;
  }

}

.telegram {
  color: $white;
  padding: 13px 13px;
  border-radius: 12px;
  background: #419FD9;
  margin-left: 24px;
}

.slick-arrow {
  position: absolute;
  z-index: 2;
  bottom: 31px;
  right: 44px;
}

.slick-custom-prev {
  margin-right: 110px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  &:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 12px;
    width: 13px;
    height: 21px;
    background-image: url('../img/slider-chevron.svg');
  }
}

.slick-custom-next {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  &:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 17px;
    width: 12px;
    height: 21px;
    transform: rotate(180deg);
    background-image: url('../img/slider-chevron.svg');
  }
}

.unique__slider_count {
  position: absolute;
  bottom: 62px;
  right: 112px;
  z-index: 2;
  font-size: 24px;
  line-height: 28px;
  font-family: 'Roboto', sans-serif;
  span {
    font-weight: 700;
    color: $orange;
  }

  .total {
    font-weight: 400;
    color: $black;
  }
}

.formats__slider {
  overflow: hidden;
  border-radius: 12px 12px 0 0;
  img {
    height: 100%;
    margin-right: 20px;
    width: auto;
    object-fit: contain;
    border-radius: 12px 12px 0 0;
  }

  &_bottom {
    width: 100%;
    border-radius: 0 0 12px 12px;
    border-left: 1px solid #E6E1E5;
    border-right: 1px solid #E6E1E5;
    border-bottom: 1px solid #E6E1E5;
    padding: 26px;
    box-sizing: border-box;

    p {
      margin: 0;
    }
  }
}

.formats__slider .slick-arrow {
  bottom: auto;
  top: 50%;

}

.formats__slider .slick-custom-prev {
  left: 32px;
}

.formats__slider .slick-custom-next {
  right: 32px;
}

.franchisee__slider .slick-arrow {
  bottom: auto;
  top: 43%;

}

.franchisee__slider .slick-custom-prev {
  left: 32px;
}

.franchisee__slider .slick-custom-next {
  right: 32px;
}



@media screen and (max-width: 1440px) {
  .container {
    //max-width: 1170px;
    //margin: 0 auto;
  }
  .telegram {
    color: #fff;
    padding: 12px 9px;
    border-radius: 12px;
    background: #419FD9;
    margin-left: 24px;
  }
}
@media screen and (max-width: 1024px) {
  h5 {
    font-size: 20px;
  }
  h4 {
    font-size: 26px;
  }
  h3 {
    font-size: 46px;
  }

  h1 {
    padding-top: 50px;
    font-size: 60px;
  }
  .container {
    //max-width: 1054px;
    //margin: 0 auto;
    //padding: 0px 15px;
  }

  .whatsapp {
    span {
      display: none;
    }
  }

  .telegram {
    color: #fff;
    border-radius: 12px;
    background: #419FD9;
    margin-left: 24px;
    padding: 13px 35px;
    span {
      display: none;
    }
  }

  .button {
    font-size: 20px;
    padding: 13px;
  }
}

@media screen and (max-width: 768px) {
  .slick-custom-next:before {
    &__before {
      background-image: url('../img/next-sl-mob.svg');
    }
  }
}

@media screen and (max-width: 425px) {

}


.container {
  padding: 0 15px;
}

@media (min-width: 575.98px){
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 767.98px){
  .container {
    max-width: 720px;
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1199.98px){
  .container {
    max-width: 1390px;
  }
}