//Colors
$white: #fff;
$black: #000;
$orange: #FFA626;
$purple: #8D0B77;
$black-header: #33312E;
$gray-maintext: #736D72;
$gray-captions: #B2ABB1;
$gray-strokes: #E5E1E5;
$gray-soft: #F3F3F5;

//Fonts


