.features {
  margin-top: 107px;

  &__wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 97px;
  }

  &__right {
    margin-left: 119px;

    &_item {
      width: 455px;

      h3 {
        font-family: 'Golos Text', sans-serif;
        font-weight: 600;
        font-size: 56px;
        line-height: 67px;
        margin: 0;
      }

      p {
        margin: 0;
        color: $gray-maintext;
        font-size: 24px;
        line-height: 150%;

      }
    }
  }
}

.features-description {
  display: flex;
  justify-content: space-between;
  margin-top: 81px;
  flex-wrap: wrap;
  &__left,
  &__right {
    width: 49%;
  }
  &__item {
    width: 100%;
    margin-bottom: 24px;



    h4 {
      font-family: 'Golos Text', sans-serif;

      margin-bottom: 15px;
    }

    p {

      margin: 0;

    }
  }

  &__item-block {
    width: 100%;
    margin-bottom: 24px;
    box-shadow: 0px 18px 36px rgba(54, 49, 53, 0.1), 0px 0px 4px rgba(54, 49, 53, 0.15);
    border-radius: 12px;
      overflow: hidden;
    img{
      width: 100%;
    }
    &_wrap {
        padding: 45px;
      h4 {
        font-family: 'Golos Text', sans-serif;
        margin-bottom: 15px;
      }

      p {
        font-family: 'Golos Text', sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: $gray-captions;
      }
    }
  }

}

@media screen and  (max-width: 1440px) {
  .features__wrap {
    margin-bottom: 50px;
  }
  .features-description {
    margin-top: 40px;
  }
  .features__right_item p {
    font-size: 18px;
  }

  .features__right_item h3 {
    font-size: 40px;
  }
}

@media screen and (max-width: 1024px) {

  .features__right {
    margin-left: auto !important;
  }

  .features__right_item p {
    font-size: 20px;
  }

  .features__right_item h3 {
    font-size: 46px;
  }

  .features__wrap {
    margin-bottom: 65px;
  }

  .features-description {
    margin-top: 45px;
  }

  .features {
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .features__right {
    margin-left: 0 !important;
  }
  .features__right_item {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .features-description__item {
    display: none;
  }

   .features-description__right {
     width: 100%;
   }

  .features__right_item {
    p {
      font-size: 16px;
    }

    h3 {
      font-size: 40px;
    }
  }

  .features__wrap {
    margin-bottom: 35px;
  }
}