.introduce {
    margin-top: 255px;
    &__wrap {
        display: flex;

    }
    &__left {
        width: 800px;
        margin-right: 188px;
        p {
            font-size: 24px;
            line-height: 150%;
        }
    }

    &__right {
        img {
            border-radius: 12px;
        }
    }
}

@media screen and (max-width: 1440px) {
    .introduce {
        margin-top: 100px;
    }
    .introduce__wrap {
        justify-content: space-around;
    }
    .introduce__left {
        text-align: justify;
        margin-right: 0;
        p {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .introduce {
        margin-top: 70px;
    }

    .introduce__left p {
        font-size: 20px;
    }

    .introduce__left {
    margin-right: 50px;
    }
}

@media screen and (max-width: 768px) {
    .introduce__wrap {
        flex-direction: column;
    }

    .introduce__left {
        width: 100%;
    }

}


@media screen and (max-width: 425px) {
    .introduce {
        margin-top: 0;
        &__left {
            p {
                font-size: 12px;
                line-height: 20px;
            }
        }
    }
}