.offer {
  margin-top: 300px;
  display: flex;
  justify-content: space-between;

  &__left {
    width: 800px;

    p {
      width: 622px;
      font-size: 26px;
      line-height: 150%;
    }

    &_bottom {
      display: flex;
      width: 100%;
      align-items: center;
      margin-top: 88px;

      a {
        font-size: 26px;
        margin-left: 83px;
      }
    }
  }

  &__right {
    img {
      border-radius: 12px 12px 0 0;
    }

    &_wrap {
      margin-top: -7px;
      padding: 15px 22px;
      border-left: 1px solid #E6E1E5;
      border-right: 1px solid #E6E1E5;
      border-bottom: 1px solid #E6E1E5;
      box-sizing: border-box;
      border-radius: 0 0 12px 12px;

      p {
        margin: 0;
      }
    }
  }
}


@media screen and (max-width: 1440px) {

}


@media screen and (max-width: 1024px) {
  .offer {
    margin-top: 200px;
  }
  .offer__left {
    width: 60%;
    margin-right: 50px;
  }
  .offer__left p {
    width: auto;
    font-size: 20px;
    line-height: 150%;
  }

  .offer__right {
    width: 40%;
  }

  .offer__left_bottom {
    margin-top: 15px;

    a {
      margin-left: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .offer {
    flex-direction: column-reverse;
    position: relative;
    margin-top: 350px;
  }

  .offer__right {
    width: 100%;
  }
  .offer__right img {
    width: 100%;
  }

  .offer__left {
    width: 100%;

    h3 {
      position: absolute;
      top: -190px;
    }
  }
}


@media screen and (max-width: 425px) {
  .offer {
    margin-top: 600px
  }

  .offer__left {
    h3 {
      position: absolute;
      top: -130px;
    }

    p {
      font-size: 12px;
      line-height: 150%;
      margin: 0;
      padding-top: 10px;
    }
  }

  .profit__left_bottom {
    flex-direction: column;
    align-items: center;
  }
  .offer__left_bottom {
    bottom: -100px !important;
    a {
      margin: 0 auto;
      margin-top: 19px;
      font-weight: 600;
      font-size: 16px;
      line-height: 155%
    }

    button {
      width: 100%;
    }

    > .header__phone {
      display: none;
    }
  }

}