.profit {
  background: #F3F3F5;
  height: 728px;
  margin-top: 137px;

  h3 {
    width: 700px;
  }

  p {
    margin-top: 36px;
    font-size: 26px;
    line-height: 150%;
    color: $black-header;
    width: 534px;
  }

  &__wrap {
    padding-top: 107px;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    width: 50%;

    &_bottom {
      margin-top: 156px;
    }
  }

  &__right {
    margin-top: 20px;
    width: 50%;
    margin-left: 150px;

    p {
      margin: 0;
      font-size: 24px;
      width: 390px;
    }

    &_item {
      margin-bottom: 22px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .profit {
    height: 500px;
  }
  .profit__wrap {
    padding-top: 40px;
  }
  .profit__right p {
    width: auto;
    font-size: 20px;
  }

  .profit p {
    font-size: 20px;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .profit {
    margin-top: -143px;

    h3 {
      width: auto;
    }
  }
  .profit__wrap {
    flex-direction: column;
    position: relative;
  }
  .profit__left {
    width: 100%;
  }

  .profit__right {
    margin: 0;
    width: 100%;
  }

  .profit__left_bottom {
    margin-top: 0;
    position: absolute;
    bottom: -60px;
  }

  .profit p {
    margin-top: 0;
  }
}


@media screen and (max-width: 425px) {
  .profit {
    margin-top: -30px;
      height: 460px;

    &__left {
      p {
        font-size: 12px;
        line-height: 150%;
      }
    }

    &__right {
      h4 {
        font-size: 12px;
        line-height: 14px;
        font-weight: 700;
      }

      p {
        font-size: 14px;
        line-height: 150%
      }
    }
  }
}