.stages {
  background: #F3F3F5;
  height: 819px;
  margin-top: 136px;

  &__wrap {

    h3 {
      padding-top: 107px;
      width: 676px;
    }
  }

  &__slider {
    border-radius: 12px 12px 0 0;
    overflow: hidden;
  }
}

.stages__p_active {
  font-weight: 700;
  color: $black;
}

.stages__p {
  position: absolute;
  width: 200px;
  text-align: center;
}

.stages__p_first {
  top: 60px;
  left: 60px;

}

.stages__p_second {
  bottom: 40px;
  left: 350px;

}

.stages__p_third {
  top: 60px;
  right: 350px;

}

.stages__p_third.stages__p_active {
  top: 60px;
  right: 370px;

}

.stages__p_fourth {
  bottom: 40px;
  right: 50px;

}

.stages-slider__wrap {
  display: flex;
  align-items: center;
  height: 450px;
  justify-content: space-between;

}

.stages__slider .slick-arrow {
  display: none !important;
}

.stages__wrap_item {
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;

  img {
    margin: 0 auto;
    width: 80%;


  }

  h5 {
    font-family: 'Golos Text';
    text-align: center;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: -0.02em;
    font-weight: 500;
    color: $gray-captions;
  }

  &:before {
    position: absolute;
    content: '';
    top: 50%;
    right: -140px;
    height: 3px;
    width: 60%;
    background-color: $gray-strokes;
  }

  &:last-child.stages__wrap_item:before {
    height: 0;
  }

}

.stages__item_mob {
  display: none !important;
}


.stages__pagination {
  position: absolute;
  bottom: 77px;
  width: 100%;
  height: 7px;
  background: #eee;
}

.stages__pagination .stages__progress {
  width: 0%;
  height: 7px;
  background-color: $orange;
}

@media screen and (max-width: 1440px) {

  .stages__p_first {
    top: -50px;
    left: 50px;

  }
  .stages__p_second {
    bottom: -60px;
    left: 350px;

  }
  .stages__p_third {
    top: -50px;
    right: 350px;

  }
  .stages__p_fourth {
    bottom: -60px;
    right: 50px;

  }

  .stages__p_third.stages__p_active {
    top: -50px;
    right: 350px;
  }
  .stages {
    margin-top: 50px;
    height: 650px;

    &__wrap {
      h3 {
        width: auto;
        padding-top: 30px;
      }
    }
  }

  .stages__wrap_item {
    align-items: center;
    height: 200px;

    h5 {
      font-size: 18px;
      width: 230px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .stages__p_first {
    top: -50px;
    left: 50px;

  }
  .stages__p_second {
    bottom: -60px;
    left: 270px;

  }
  .stages__p_third {
    top: -50px;
    right: 260px;

  }
  .stages__p_fourth {
    bottom: -60px;
    right: 20px;

  }

  .stages__p_third.stages__p_active {
    top: -50px;
    right: 257px;
  }
  .stages {
    margin-top: 50px;
    height: 550px;
  }

  .stages__wrap h3 {
    padding-top: 30px;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .stages__p_first {
    top: -50px;
    left: 0px;

  }
  .stages__p_second {
    bottom: -60px;
    left: 180px;

  }
  .stages__p_third {
    top: -50px;
    right: 185px;

  }
  .stages__p_fourth {
    bottom: -60px;
    right: 0px;

  }

  .stages__p_third.stages__p_active {
    top: -50px;
    right: 185px;
  }

  .stages__p {
    font-size: 14px;
    width: 170px;
  }
}

@media screen and (max-width: 425px) {
  .stages__p-mob {
    display: none;
  }
  .stages__slider .slick-arrow {
    display: block !important;
  }
  .stages__slider .slick-custom-prev {
    left: 0;
    top: 30%;
  }
  .stages__slider .slick-custom-next {
    right: 0;
    top: 30%;
  }
  .stages {
    height: 340px;
  }
    .stages__p_first {
        top: 0px;
        left: 200%;

    }
    .stages__p_second {
        bottom:auto;
        top: 100px;
        left: 200%;

    }
    .stages__p_third {
        top: 230px;
        right: auto;
        left: 200%;

    }
    .stages__p_fourth {
        bottom: -40px;
        right: auto;
        left: 200%;

    }

    .stages__p_third.stages__p_active {
        top: 230px;
        right: auto;
    }

    .stages__p {
      position: static;
        font-size: 18px;
        width: 80%;
    }
    .stages__wrap_item {
      flex-direction: column;
      margin: 0 ;
      width: 100%;
      height: 100%;
    }
  .stages__item_desc {
    display: none !important;
  }
  .stages__wrap_item img {
    width: 80%;
  }
  .stages__item_mob {
    display: block !important;

  }



  .stages-slider__wrap {
    flex-direction: column;
    height: 200px;
  }

  .stages__wrap h3 {
    text-align: center;
      margin-bottom: 30px;
  }

  .stages__pagination {
    bottom: 47px;
  }
}