.stages {
    background: #F3F3F5;
    height: 819px;
    margin-top: 136px;
    &__wrap {

        h3 {
            padding-top: 107px;
            width: 676px;
        }
    }

    &__slider {
        border-radius: 12px 12px 0 0;
        overflow: hidden;
    }
}

.stages-slider__wrap {
    display: flex;
    align-items: center;
    height: 450px;
    justify-content: space-between;

}

.stages__slider .slick-arrow {
    display: none !important;
}

.stages__wrap_item {
    height: 200px;
    width: 310px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    img {
        margin: 0 auto;


    }
    h5 {
        font-family: 'Golos Text';
        text-align: center;
        font-size: 24px;
        line-height: 160%;
        letter-spacing: -0.02em;
        font-weight: 500;
        color: $gray-captions;
    }

    &:before {
        position: absolute;
        content: '';
        top: 50%;
        right: -140px;
        height: 3px;
        width: 60%;
        background-color: $gray-strokes;
    }

    &:last-child.stages__wrap_item:before {
        height: 0;
    }

}


@media screen and (max-width: 1440px) {
    .stages {
        margin-top: 50px;
        height: 650px;

        &__wrap {
            h3 {
                width: auto;
                padding-top: 30px;
            }
        }
    }

    .stages__wrap_item {
        align-items: center;
        height: 200px;
        margin-top: 150px;
        h5 {
            font-size: 18px;
            width: 230px;
        }
        &:nth-child(odd) {
            margin-top: 0;
            margin-bottom: 150px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .stages {
        margin-top: 50px;
        height: 550px;
    }

    .stages__wrap h3 {
        padding-top: 30px;
        width: auto;
    }
}

@media screen and (max-width: 425px) {
    .stages {
        height: 630px;
    }
    .stages-slider__wrap {
        flex-direction: column;
    }

    .stages__wrap h3 {
        text-align: center;
    }
}