.unique {
  margin-top: 107px;
  //border: 1px solid #E6E1E5;

  &__wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 52px;
    margin-bottom: 137px;
  }

  &__left {
    width: 50%;
    position: relative;

  }

  &__slider {
    width: 685px;
    border-radius: 12px;
    overflow: hidden;

    &_item {
      width: 100%;
      box-shadow:0px 18px 36px rgba(54, 49, 53, 0.1);
    }

    &_bottom {
      box-sizing: border-box;
      height: 363px;
      width: 100%;
      padding: 32px 48px;
      background: #FFFFFF;
      border-radius: 0 0 12px 12px;
    }
  }

  &__right {
    width: 50%;

    &_wrap {
      display: flex;
      justify-content: space-around;
    }

    &_item {
      position: relative;
      width: 330px;
      height: 339px;
      margin-bottom: 24px;

      .shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: inset 0px -133px 60px -12px rgba(0, 0, 0, 0.5);
        border-radius: 12px;
        top: 0;
        left: 0
      }

      img {
        object-fit: cover;
        border-radius: 12px;
        width: 100%;
        height: 100%;
      }

      p {
        position: absolute;
        z-index: 1;
        bottom: 23px;
        left: 50%;
        transform: translateX(-50%);
        color: #FFFFFF;
        font-weight: 500;
        font-size: 22px;
        line-height: 120%;
        width: 80%;
        font-family: 'Golos Text', sans-serif;
        margin: 0;
      }
    }
  }
}


.sl-count__current {

}


.sl-count__total {

  color: $black-header !important;
  font-weight: 500;
}


@media screen and (max-width: 1440px) {
  .unique {
    margin-top: 50px;

    &__wrap {
      margin-bottom: 0;
    }
  }
  .unique__right_item {
    height: 250px;
  }
  .unique__slider_bottom {
    padding: 10px;
    height: 187px;
  }

  .unique__slider_count {
    bottom: 28px;
    right: 88px;
  }
  .unique__right_item p {
    font-size: 18px;
  }
}

@media screen and (max-width: 1024px) {
  .unique__wrap {
    flex-direction: column;
    margin-bottom: 0;
  }

  .unique__right {
    width: 100%;
  }

  .unique__left {
    width: 100%;
  }

  .unique__slider {
    width: 100%;

    &_item {
      img {
        width: 100%;
      }
    }
  }

  .unique__slider_bottom {
    height: 280px;
  }

  .unique__slider_count {
    bottom: 8px;
    right: 77px;
  }

  .unique__right_wrap {
    margin-top: 20px;
    justify-content: space-between;

  }

  .unique__right_l,
  .unique__right_r {
    width: 50%;
  }
  .unique__right_r {
    margin-left: 20px;
  }
  .unique__right_item {
    width: 100%;
  }
}


@media screen and (max-width: 768px) {

  .uniqueArr {
    z-index: 2;
    position: relative;
    top: -180px;
  }


  .unique__slider_count {
    display: none;
  }

  .unique__slider {
    > .slick-custom-prev {
      padding: 0;
      width: 24px;
      height: 24px;
      background: $orange;
      display: flex;
      text-decoration: none;
      border: none;
      position: absolute;
      left: -13px;
      top: 15%;
      transform: translateY(52%);
      &:before {
        content: '';
        position: absolute;
        top: 7px;
        left: 7px;
        width: 6px;
        height: 10px;
        transform: rotate(180deg);
        background-image: url('../img/next-sl-mob.svg');
      }
    }

    > .slick-custom-next {
      padding: 0;
      width: 24px;
      height: 24px;
      background: $orange;
      text-decoration: none;
      border: none;
      position: absolute;
      right: -13px;
      top: 15%;
      transform: translateY(52%);
      &:before {
        content: '';
        position: absolute;
        transform: rotate(0deg);
        top: 7px;
        left: 10px;
        width: 6px;
        height: 11px;
        background-image: url('../img/next-sl-mob.svg');
      }
    }
  }
  .unique {
    margin-top: 40px;
  }

  .unique__slider_bottom {
    padding: 15px;
    height: 240px;
  }

  .unique__right_wrap {
    display: none;
  }

  .unique__slider {
    overflow: visible;
  }
}

@media screen and (max-width: 425px) {
  .unique {
    margin-top: 30px;
  }

  .unique__slider_item {
    box-shadow: none;
  }
}

