.vision {
  border-top: 1px solid #E6E1E5;
  padding-top: 110px;


  h3 {
    width: 893px;
  }

  p {
    font-size: 26px;
    line-height: 150%;
  }
}

.vision-video {

  &__wrap {
    display: flex;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
  }

  &__right {
    margin-left: 5px;
    height: 577px;
    width: 50%;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  &__left {
    height: 577px;
    width: 50%;
    iframe {
      width: 100%;
      height: 100%;
    }
  }

  &__subtitle {
    border: 1px solid #DCDCDE;
    border-radius: 0 0 12px 12px;
    padding: 28px 43px;
  }
}

.vision-table {
  margin-top: 50px;

  p {
    font-size: 26px;
    line-height: 150%;
    width: 1100px;
  }

  &__head {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #DCDCDE;

    padding: 20px 0;

    h5 {
      margin: 0;
    }

    span {
      color: $orange;
    }


  }

  &__wrap {
    border: 1px solid #DCDCDE;
    border-radius: 12px;
    position: relative;

    p {
      font-size: 26px;
      line-height: 150%;
      width: 1100px;
    }
  }

  &__wrapper {


    max-height: 700px;
    overflow: auto;

  }

  &__bottom {
    display: flex;
    justify-content: center;
    height: 72px;
    border-top: 1px solid #DCDCDE;
    border-radius: 0 0 12px 12px;
    position: absolute;
    bottom: -74px;
    left: 50%;
    background-color: #ffffff;
    transform: translateX(-50%);
    width: 846px;

    li {
      width: 421px;

      padding: 0;

      &:first-child {
        border-right: 1px solid #DCDCDE;;
      }
    }
  }

  &__buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  &__accordion {
    &_item {
      border-bottom: 1px solid #DCDCDE;
      margin: 0 auto;
      width: 90%;
    }

    table {
      width: 100%;
    }

    &_thumb {
      width: 100%;

      &-head {
        width: 55%;
        font-weight: 700;
        font-size: 18px;
        height: 50px;
        text-align: left;

        td {
          width: 25%;
          text-align: right;

        }
      }

      td {
        width: 25%;
        text-align: right;
        padding-left: 22px;
      }

      &-first {
        cursor: pointer;


      }
    }

    &_first {
      width: 55% !important;
      text-align: left !important;
      padding-left: 22px;

      &-td {
        padding-left: 0 !important;
      }
    }


    &_panel {
      display: flex;
      justify-content: space-around;

    }

  }
}

.vision-table__accordion_thumb > p:first-child {
  width: 50%;
}

.vision-table__accordion_panel > p:first-child {
  width: 50%;
}


.vision-table__wrapper::-webkit-scrollbar-track {
  background-color: $gray-soft;
}

.vision-table__wrapper::-webkit-scrollbar {
  width: 4px;
  background-color: $orange;
}

.vision-table__wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $orange;

}

.vision-table__accordion_item:last-child {
  border: none;
}

.vision-speedup {
  margin-top: 120px;

  &__video {
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    width: 100%;
    height: 783px;
  }

  p {
    font-size: 26px;
    line-height: 150%;
  }
}

.uk-tab > .uk-active > a {
  border-color: $orange !important;
  border-top: 3px solid transparent;
  font-family: Golos;
  font-weight: 600;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: $black-header;
  border-bottom: none;
}

.uk-tab > li > a {
  font-family: Golos;
  font-weight: 600;
  font-size: 26px;
  line-height: 120%;
  letter-spacing: -0.02em;
  padding: 19px;
  color: $gray-captions;
  text-transform: none;
}


.uk-tab {
  border: 1px solid #E6E1E5;
  border-radius: 0 0 12px 12px;
}

vision-table__bottom a {
  font-weight: 600;
  font-size: 26px;
  line-height: 120%;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  padding: 13px;
  text-transform: none;
}

.city-check__modal_checkbox_wrap {
  label {
    display: block;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    line-height: 150%;
    color: $black-header;
    padding-left: 39px;
  }

  input[type=radio] {
    //display: none;
  }

  label:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 0px;
    border: 2px solid #B2ABB1;
    border-radius: 50%;
    background: transparent;
  }

  input[type=radio]:checked + label:before {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: #FFA626;
    width: 20px;
    height: 20px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
  }

}


@media screen and (max-width: 1024px) {
  .vision-speedup p {
    font-size: 20px;
  }
  .vision {
    padding-top: 40px;
  }
  .vision-table {
    p {
      width: auto;
    }
  }

    .vision-speedup__video {
        height: 550px;
    }
}


@media screen and (max-width: 768px) {
  .vision {
    padding-top: 30px;
  }
    .vision h3 {
        width: auto;
    }
    .vision-table__bottom li {
        width: 40%;
    }

    .vision-table__bottom {
        height: 72px;
        bottom: -61px;
        left: 0px;
        transform: translateX(18px);
        width: 100%;
    }

    .vision-table__head {
        h5 {
            font-size: 18px;
            padding: 0px 45px;
        }
    }

    .uk-tab > li > a {
        font-size: 20px;
    }

    .uk-tab > .uk-active > a {
        font-size: 20px;
    }

    .vision-speedup__video {
        height: 350px;
    }

  .vision-video__wrap {
    flex-direction: column;
  }

  .vision-video__left {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    iframe {
      width: 100%;
      height: 350px;
    }
  }

  .vision-video__right {
    width: 100%;
    height: auto;
    margin-left: 0;
    iframe {
      width: 100%;
      height: 350px;
    }
  }

  .vision-table__head {
    display: none;
  }
}